/**
    version: 1.2.1
     
    Just to make life easier.
    
    ! README 
    You don' have to include this for theme to work.
    It has a bunch of useful class for my day-to-day
    workflow. Feel free to include and use it if you want.
    If you include this, make sure to include the theme.css,
    somewhere otherwise it won't work.

*/
html, body{
	margin: 0;
	padding: 0;
}
body{background: var(--root); color: var(--text);}
hr{
    height: 1px;
    color: var(--border);
    background-color: var(--border);
    border: none;
}
/* colors */
.root{ background-color: var(--root); }
.bg{ background-color: var(--bg); }
.text{ background-color: var(--text); }
.primary{ background-color: var(--primary); }
.secondary{ background-color: var(--secondary); }
.accent{ background-color: var(--accent); }
.success{ background-color: var(--success); }
.error{ background-color: var(--error); }
.warning{ background-color: var(--warning); }
.activate{ background-color: var(--activate); }

.no-outline{
    outline: none;
}

/* Border */
.no-border{ border: none; }
.rounded{ border-radius: .4em;}
.rounded-t{ border-radius: .4em .4em 0 0;}
.rounded-b{ border-radius: 0 0 .4em .4em;}
.rounded-l{ border-radius: .4em 0 0 .4em;}
.rounded-r{ border-radius: 0 .4em .4em 0;}

.rounded-tl{ border-radius: .4em 0 0 0;}
.rounded-tr{ border-radius: 0 .4em 0 0;}
.rounded-bl{ border-radius: 0 0 .4em 0;}
.rounded-br{ border-radius: 0 0 0 .4em;}

.border-root{ border-color: var(--root) !important; }
.border-bg{ border-color: var(--bg) !important; }
.border-text{ border-color: var(--text) !important; }
.border-primary{ border-color: var(--primary) !important; }
.border-secondary{ border-color: var(--secondary) !important; }
.border-accent{ border-color: var(--accent) !important; }
.border-success{ border-color: var(--success) !important; }
.border-error{ border-color: var(--error) !important; }
.border-warning { border-color: var(--warning) !important; }
.border-activate{ border-color: var(--activate) !important; }
.border, .border-1{ border-width :1px; border-style: solid; border-color: var(--border);}
.border-2{ border-width :2px; border-style: solid; border-color: var(--border);}
.border-3{ border-width :4px; border-style: solid; border-color: var(--border);}

.cursor-pointer{ cursor: pointer; }

.hover-highlight:hover{
	background-color: var(--activate);
}
.hover-highlight{cursor: pointer;}
.hover-highlight:hover{background-color: var(--activate);}
.hover-highlight:active{filter: brightness(120%);}

/* Button animation */
.ripple:active{ animation: .2s ripple; }
@keyframes ripple {
    to {
        transform: scale(1.25);
        opacity: 0;
    }
}

.shadow{
	box-shadow: 0 0 5px 1px rgba(0,0,0,.5);
}
.shadow-inset{
	box-shadow: 0 0 5px 1px inset rgba(0,0,0,.5);
}

.transparent-1 { opacity: .85;}
.transparent, .transparent-2{ opacity: .7; }
.transparent-3{ opacity: .5; }

/* Typography */
.text-h1{ font-size: 6rem !important; }
.text-h2{ font-size: 3.75rem !important; }
.text-h3{ font-size: 3rem !important; }
.text-h4{ font-size: 2.125rem !important; }
.text-h5{ font-size: 1.5rem !important; }
.text-h6{ font-size: 1.25rem !important; }
.text-b1{ font-size: 1rem !important; }
.text-b2{ font-size: .875rem !important; }
.caption{ 
	font-size: .675rem !important; 
	opacity: .7;
}
.caption-v2{ 
	font-size: .675rem !important; 
}
.underline{ text-decoration: underline;}
.text-start{ text-align: start; }
.text-center{ text-align: center; }
.text-end{ text-align: end; }
.text-justify{ text-align: justify; }
.text-s1{letter-spacing: 2px;}
.text-s2{letter-spacing: 3px;}
.text-s3{letter-spacing: 4px;}
.bold{
	font-weight: bold;
}
.no-text-decoration{
	text-decoration: none;
}
/* Containers */
.panel{
    background-color: var(--bg);
}
.grid{
	display: grid;
}
.flow-vertical{
	grid-auto-flow: row;
}
.flow-horizontal{
	grid-auto-flow: column;
}
.hide-scrollbar{
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.hide-scrollbar::-webkit-scrollbar { /* WebKit */
	width: 0;
	height: 0;
}
.no-select{
	user-select: none !important;
}

/* Flex */
.flex{ display: flex; }
.f-1{ flex: 1; }
.f-2{ flex: 2; }
.f-3{ flex: 3; }
.f-4{ flex: 4; }
.f-5{ flex: 5; }
.f-6{ flex: 6; }
.f-7{ flex: 7; }
.f-8{ flex: 8; }
.f-9{ flex: 9; }
.f-10{ flex: 10; }
.f-11{ flex: 11; }
.f-12{ flex: 12; }

.center{ 
	display: grid;
	place-items: center;
}
.align-center{
	align-items: center;
	align-content: center;
}
.justify-center{
	justify-items: center;
	justify-content: center;
}
.align-end{
	align-items: flex-end;
	align-content: flex-end;
}
.justify-end{
	justify-items: flex-end;
	justify-content: flex-end;
}
.align-start{
	align-items: flex-start;
	align-content: flex-start;
}
.justify-start{
	justify-items: flex-start;
	justify-content: flex-start;
}
.justify-between{
	justify-items: space-between;
	justify-content: space-between;
}
.align-between{
	align-items: space-between;
	align-content: space-between;
}
.justify-around{
	justify-items: space-around;
	justify-content: space-around;
}
.align-around{
	align-items: space-around;
	align-content: space-around;
}
.gap-dense{ gap:.25em  }
.gap-1{ gap:.5em; }
.gap-2{ gap:1.0em; }
.gap-3{ gap:1.5em; }

/*Margin*/
.ma-0{ margin: 0 !important; }
.ma-1{ margin: .25em; }
.mx-1{ margin-left: .25em; margin-right: .25em;}
.my-1{ margin-top: .25em; margin-bottom: .25em;}
.mt-1{ margin-top: .25em; }
.mb-1{ margin-bottom: .25em; }
.ml-1{ margin-left: .25em; }
.mr-1{ margin-right: .25em; }

.ma, .ma-2{ margin: .5em; }
.mx, .mx-2{ margin-left: .5em; margin-right: .5em;}
.my, .my-2{ margin-top: .5em; margin-bottom: .5em;}
.mt, .mt-2{ margin-top: .5em; }
.mb, .mb-2{ margin-bottom: .5em; }
.ml, .ml-2{ margin-left: .5em; }
.mr, .mr-2{ margin-right: .5em; }

.ma-3{ margin: .75em; }
.mx-3{ margin-left: .75em; margin-right: .75em;}
.my-3{ margin-top: .75em; margin-bottom: .75em;}
.mt-3{ margin-top: .75em; }
.mb-3{ margin-bottom: .75em; }
.ml-3{ margin-left: .75em; }
.mr-3{ margin-right: .75em; }

.ma-4{ margin: 1em; }
.mx-4{ margin-left: 1em; margin-right: 1em;}
.my-4{ margin-top: 1em; margin-bottom: 1em;}
.mt-4{ margin-top: 1em; }
.mb-4{ margin-bottom: 1em; }
.ml-4{ margin-left: 1em; }
.mr-4{ margin-right: 1em; }

/*Padding*/
.pa-0{ padding: 0 !important; }
.pa-1{ padding: .25em; }
.px-1{ padding-left: .25em; padding-right: .25em; }
.py-1{ padding-top: .25em; padding-bottom: .25em; }
.pt-1{ padding-top: .25em; }
.pb-1{ padding-bottom: .25em; }
.pl-1{ padding-left: .25em; }
.pr-1{ padding-right: .25em; }


.pa, .pa-2{ padding: .5em; }
.px, .px-2{ padding-left: .5em; padding-right: .5em; }
.py, .py-2{ padding-top: .5em; padding-bottom: .5em; }
.pt, .pt-2{ padding-top: .5em; }
.pb, .pb-2{ padding-bottom: .5em; }
.pl, .pl-2{ padding-left: .5em; }
.pr, .pr-2{ padding-right: .5em; }

.pa-3{ padding: .75em; }
.px-3{ padding-left: .75em; padding-right: .75em; }
.py-3{ padding-top: .75em; padding-bottom: .75em; }
.pt-3{ padding-top: .75em; }
.pb-3{ padding-bottom: .75em; }
.pl-3{ padding-left: .75em; }
.pr-3{ padding-right: .75em; }

.pa-4{ padding: 1em; }
.px-4{ padding-left: 1em; padding-right: 1em; }
.py-4{ padding-top: 1em; padding-bottom: 1em; }
.pt-4{ padding-top: 1em; }
.pb-4{ padding-bottom: 1em; }
.pl-4{ padding-left: 1em; }
.pr-4{ padding-right: 1em; }

.expand{
	width:100% !important;
}

.nowrap {
    white-space:nowrap;
}